<% provide(:title, 'Movies') %>
<div class="container" id="movie-list">
<% @movie.each_slice(5) do |slice| %>
	<div class="row">
		<% slice.each do |item| %>
			<div class="col-md-4">
          		<%= link_to movie_path(item.themoviedb_id) do %>
            		<%= image_tag("#{@configuration.base_url}w154#{item.poster_path}", size: "154x231") if item.poster_path %>
          		<% end %>
          			<h5 class="movie-name" data-content="<strong><%= item.name %></strong>"><%= item.name %></h5>
          			<h5><%= item.year %></h5>
          	</div>
      	 <% end %>
     </div>
<% end %>
</div>
<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>
<script>
$(document).ready(function() {
    Tipped.create('.movie-name', function() {
    	return $(this).data('content')});
    	
    $(document).on( 'scroll', function(){
        if ($(window).scrollTop() > 100) {
            $('.scroll-top-wrapper').addClass('show');
        } else {
            $('.scroll-top-wrapper').removeClass('show');
        }
    });
    
    $("img.lazy").lazyload({
    	effect : "fadeIn"
	});
    $('.scroll-top-wrapper').on('click', scrollToTop);
});
 
function scrollToTop() {
    verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
    element = $('body');
    offset = element.offset();
    offsetTop = offset.top;
    $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
}
</script>
			
