<% provide(:title, 'Movies') %>
<body style="background-color: #D3D3D3">
<div class="container">
	<b>Sort By</b>
	<button id="atoz" class="pure-button pure-button-active">A-Z</button>
	<button id="ztoa" class="pure-button">Z-A</button>
	<button id="yearup" class="pure-button">Oldest</button>
	<button id="yeardown" class="pure-button">Newest</button>
	<button id="imdb" class="pure-button">IMDb Rating</button>
	<button id="rotten" class="pure-button">RT rating</button>
</div>
<div class="container" id="movie-list">
<% @movie.each_slice(5) do |slice| %>
	<div class="row">
		<% slice.each do |item| %>
			<div class="col-md-4">
				<div class="movie-info">
          		<%= link_to movie_path(item.id) do %>
            		<%= image_tag("#{@configuration.base_url}w154#{item.poster_path}", size: "154x231") if item.poster_path %>
          		<% end %>
          			<h5 class="movie-name" data-content="<strong><%= item.name %></strong>"><%= item.name %></h5>
          			<h5 class="movie-year"><strong>(<%= item.year %>)</strong></h5>
          			<div class="ratings">
          				<% imdb_path = "http://www.imdb.com/title/tt" + item.imdb_id.to_s %>
          					<%= link_to imdb_path do %>
          						<%= image_tag("/assets/imdb.png", size: "44x21") %>
          					<% end %>
          					<h5 class="imdb-rating"><%= item.imdb_rating %></h5>
          					<%= link_to item.rotten_link do %>
          						<% if item.rotten_rating > 0 %>
          							<% img_src = "/assets/" + get_rotten_image(item.rotten_rating, item.certified_fresh) %>
          							<%= image_tag(img_src, size: "26x28") %>
          						<% end %>
          					<% end %>
          			<h5 class="rotten-rating"><%= get_rotten_text(item.rotten_rating) %></h5>
          			</div>
          		</div>
          	</div>
      	 <% end %>
     </div>
<% end %>
</div>
<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>
</body>
<script>
$(document).ready(function() {
	/* autocomplete */
    Tipped.create('.movie-name', function() {
    	return $(this).data('content')});
    
    /* scroll to top */
    $(document).on( 'scroll', function(){
        if ($(window).scrollTop() > 100) {
            $('.scroll-top-wrapper').addClass('show');
        } else {
            $('.scroll-top-wrapper').removeClass('show');
        }
    });
    
    $('.scroll-top-wrapper').on('click', scrollToTop);
    
    /* lazy load images */
    $("img.lazy").lazyload({
    	effect : "fadeIn"
	});
    
});

/* sorting */
insertButtonInfo('button#atoz', ".movie-name", "asc");
insertButtonInfo('button#ztoa', ".movie-name", "desc");
insertButtonInfo('button#yearup', ".movie-year", "asc");
insertButtonInfo('button#yeardown', ".movie-year", "desc");
insertButtonInfo('button#imdb', ".imdb-rating", "desc");
insertButtonInfo('button#rotten', ".rotten-rating", "desc");

$("button#atoz").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"))
	buttonHighlight("button#atoz");
});

$("button#ztoa").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"))
	buttonHighlight("button#ztoa");
});

$("button#yearup").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"))
	buttonHighlight("button#yearup");
});

$("button#yeardown").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"))
	buttonHighlight("button#yeardown");
});

$("button#imdb").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"))
	buttonHighlight("button#imdb");
});

$("button#rotten").click(function() {
	sortMoviesNum($(this).data("sortKey"),$(this).data("method"))
	buttonHighlight("button#rotten");
});
</script>
			
