<% provide(:title, 'Movies') %>
<script type="text/javascript">
	$(document).ready(function() {
    Tipped.create('.movie-name', function() {
    	return $(this).data('content')});
	});
</script>
<div class="container">
<% @movie.each_slice(5) do |slice| %>
	<div class="row">
		<% slice.each do |item| %>
			<div class="col-md-4">
          		<%= link_to movie_path(item.themoviedb_id) do %>
            		<%= image_tag("#{@configuration.base_url}w154#{item.poster_path}", size: "154x231") if item.poster_path %>
          		<% end %>
          			<h5 class="movie-name" data-content="<strong><%= item.name %></strong>"><%= item.name %></h5>
          			<h5><%= item.year %></h5>
          	</div>
      	 <% end %>
     </div>
<% end %>
<div>
<script type="text/javascript">
   			 $(function() {
   			 	$("img.lazy").lazyload({
    effect : "fadeIn"
});
				});
			</script>
