<% provide(:title, 'Movies') %>
<body style="background-color: #D3D3D3">
<div class="container">
	<font size="3"<b>Sort By: </b></font>
	
	<div class="btn-group hidden-xs">
		<button id="atoz" class="pure-button pure-button-active">A-Z</button>
		<button id="ztoa" class="pure-button">Z-A</button>
		<button id="yearup" class="pure-button">Oldest</button>
		<button id="yeardown" class="pure-button">Newest</button>
		<button id="imdb" class="pure-button">IMDb Rating</button>
		<button id="rotten" class="pure-button">RT rating</button>
	</div>
	
	<div class="btn-group visible-xs-inline-block">
  		<button type="button" id="sort-button" class="pure-button dropdown-toggle" data-toggle="dropdown">
    		<i class="fa fa-lg fa-caret-down"></i>
  		</button>
		<ul class="dropdown-menu" role="menu">
			<li id="atoz" class="active"><a href="javascript:void(0)" onclick="sortatoz()">A to Z</a></li>
    		<li id="ztoa"><a href="javascript:void(0)" onclick="sortztoa()">Z to A</a></li>
    		<li id="yearup"><a href="javascript:void(0)" onclick="sortoldest()">Oldest</a></li>
    		<li id="yeardown"><a href="javascript:void(0)" onclick="sortnewest()">Newest</a></li>
    		<li id="imdb" ><a href="javascript:void(0)" onclick="sortimdb()">IMDb Rating</a></li>
    		<li id="rotten" ><a href="javascript:void(0)" onclick="sortrt()">RT Rating</a></li>
  		</ul>
 	</div>
	<button id="random" data-content="<%= @length %>" class="pure-button"><i class="fa fa-random fa-lg"></i></button>
</div>

<div class="container" id="movie-list">
	<div class="row">
		<% @movie.each do |item| %>
			<div class="movie-col col-md-3 col-sm-4 col-xs-6 movie-col-xs" id="movie-col">
				<div class="movie-info" id="<%= "#{item.id}" %>">
          		<%= link_to movie_path(item.id) do %>
            		<%= image_tag("#{@configuration.base_url}w185#{item.poster_path}", size: "185x278", id:"movie-image") if item.poster_path %>
          		<% end %>
          			<h4 class="movie-name" data-content="<h4><%= item.name %></h4>"><%= item.name %></h4>
          			<h4 class="movie-year">(<%= item.year %>)</h4>
          			<div class="ratings">
          				<% imdb_path = "http://www.imdb.com/title/tt" + item.imdb_id.to_s %>
          				<%= link_to imdb_path do %>
          					<% if item.rotten_rating >= 0 %>
          						<div id="imdb-ratings">
          							<%= image_tag("imdb.png", size: "53x25", id: "imdb-image") %>
          							<h4 class="imdb-rating"><%= item.imdb_rating %></h4>
          						</div>
          					<% else %>
          						<div id="imdb-no_rt">
          							<%= image_tag("imdb.png", size: "53x25", id: "imdb-image") %>
          							<h4 class="imdb-rating"><%= item.imdb_rating %></h4>
          						</div>	
          					<% end %>
          				<% end %>
          				<% if item.rotten_rating >= 0 %>
          					<%= link_to item.rotten_link do %>
          						<div id="rotten-ratings">
          							<% img_src = get_rotten_image(item.rotten_rating, item.certified_fresh) %>
          							<%= image_tag(img_src, size: "31x34", id: "rotten-image") %>
          							<h4 class="rotten-rating"><%= get_rotten_text(item.rotten_rating) %></h4>
          						</div>
          					<% end %>
          				<% end %>
          			</div>
          		</div>
          	</div>
		<% end %>
     </div>
</div>

<div class="scroll-top-wrapper ">
    <span class="scroll-top-inner">
        <i class="fa fa-2x fa-arrow-circle-up"></i>
    </span>
</div>

</body>
<script>
$(document).ready(function() {
	
	/* tooltip */
    Tipped.create('.movie-name', function() {
    	return $(this).data('content')},
    	{
          size: 'large',
      });
    
    Tipped.create('button#random', function() {
    	return "<h5>Roll for a random movie</h5>"},
    	{
          size: 'large',
      });
      
    /* scroll to top */
    $(document).on( 'scroll', function(){
        if ($(window).scrollTop() > 100) {
            $('.scroll-top-wrapper').addClass('show');
        } else {
            $('.scroll-top-wrapper').removeClass('show');
        }
    });
    
    $('.scroll-top-wrapper').on('click', scrollToTop);
    /* lazy load images */
    $("img.lazy").lazyload({
    	effect : "fadeIn",
    	skip_invisible : false,
    	failure_limit : 5
	});
    
    /* sorting */
insertButtonInfo('button#atoz', ".movie-name", "asc");
insertButtonInfo('button#ztoa', ".movie-name", "desc");
insertButtonInfo('button#yearup', ".movie-year", "asc");
insertButtonInfo('button#yeardown', ".movie-year", "desc");
insertButtonInfo('button#imdb', ".imdb-rating", "desc");
insertButtonInfo('button#rotten', ".rotten-rating", "desc");

$("button#atoz").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"));
	buttonHighlight("button#atoz");
});

$("button#ztoa").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"));
	buttonHighlight("button#ztoa");
});

$("button#yearup").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"));
	buttonHighlight("button#yearup");
});

$("button#yeardown").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"));
	buttonHighlight("button#yeardown");
});

$("button#imdb").click(function() {
	sortMovies($(this).data("sortKey"),$(this).data("method"));
	buttonHighlight("button#imdb");
});

$("button#rotten").click(function() {
	sortMoviesNum($(this).data("sortKey"),$(this).data("method"));
	buttonHighlight("button#rotten");
});

$("button#random").click(function() {
	$(".movie-info").removeClass("movie-info-chosen");
	var num = Math.floor((Math.random() * $(this).data('content')) + 1);
	var input = ".movie-info#" + num.toString();
	$.scrollTo( $(input).offset().top - 200, 0);
	$(input).addClass("movie-info-chosen");
});
    
});
	  

</script>
			
