<% provide(:title, @movie.name) %>
<body background = <%= "#{@configuration.base_url}w1920#{@backdrop}" %>>
<div class="container" id="movie-info-all">
	<div class="container">
		<div class ="row" id="row-show">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-3" id="movie-col-show">
				<div class="movie-info" id="movie-info-show">
					<%= image_tag("#{@configuration.base_url}w185#{@movie.poster_path}", size: "185x278", id:"movie-image-show") if @movie.poster_path %>
					<div class="ratings">
          				<% imdb_path = "http://www.imdb.com/title/tt" + @movie.imdb_id.to_s %>
          				<%= link_to imdb_path do %>
          					<% if @movie.rotten_rating > 0 %>
          						<div id="imdb-ratings-show">
          							<%= image_tag("imdb.png", size: "53x25", id: "imdb-image-show") %>
          							<h4 class="imdb-rating"><%= @movie.imdb_rating %></h4>
          						</div>
          					<% else %>
          						<div id="imdb-no_rt">
          							<%= image_tag("imdb.png", size: "53x25", id: "imdb-image-show") %>
          							<h4 class="imdb-rating"><%= @movie.imdb_rating %></h4>
          						</div>	
          					<% end %>
          				<% end %>
          				<% if @movie.rotten_rating > 0 %>
          					<%= link_to @movie.rotten_link do %>
          						<div id="rotten-ratings-show">
          							<% img_src = get_rotten_image(@movie.rotten_rating, @movie.certified_fresh) %>
          							<%= image_tag(img_src, size: "31x34", id: "rotten-image-show") %>
          							<h4 class="rotten-rating"><%= get_rotten_text(@movie.rotten_rating) %></h4>
          						</div>
          					<% end %>
          				<% end %>
          			</div>
          		</div>
          	</div>	
          		
          	<div class="col-lg-7 col-sm-7 col-xs-9" id"movie-show-right">
				<h1><%= @movie.name %> (<%= @movie.year %>)</h1>
				<h5><%= @moviedb.runtime %> minutes | <%= @movie.release_date %></h5>
				<h3>Directed by: <%= @director %></h3>
				<div class="hidden-xs">
					<h2>Overview</h2>
					<p><font size="3"><%= @moviedb.overview %></font></p>
				</div>
			</div>
		</div>
	</div>
	<div class="visible-xs">
		<h2>Overview</h2>
		<p><font size="3"><%= @moviedb.overview %></font></p>
	</div>	
	<div class="trailer">
		<h2>Trailer</h2>
 		<% @trailers['youtube'].each do |trailer| %>
 			<% if trailer['type'] == "Trailer" %>
 				<div class="embed-responsive embed-responsive-16by9">
 					 <iframe class="embed-responsive-item" src="<%= youtube_embed("http://www.youtube.com/watch?v=#{trailer['source']}") %>"></iframe>
    			<% break %>
    			</div>
    		<% end %>
    	<% end %>
	</div>
	
	<h2>Cast</h2>
	<table class="pure-table pure-table-horizontal table-striped" id="cast_table">
		<% @cast_init.each do |cast| %>
		<tr>
			<td style="width:15%">
				<%= image_tag("#{@configuration.base_url}w300#{cast['profile_path']}", width: "124" ) if cast['profile_path'] %>
				<% unless cast['profile_path'] %><img src="http://placehold.it/124x186&text=No+Photo"><% end %>
			</td>
			<td>
				<% if(cast['order'] != 4) %>
					<h4 class="cast_information"><%= cast['name'] %> as <%= cast['character'] %></h4>
				<% else %>
					<h4 class="cast_information"><%= cast['name'] %> as <%= cast['character'] %></h4>
					<button type="button" id="cast_button" onclick="fullcast()">
    		<i class="fa fa-lg fa-caret-down"></i>
  		</button>
				<% end %>
			</td>
		</tr>
		<% end %>
		
		<% @cast_rest.each do |cast| %>
		<tr class="hidden" id="cast_rest">
			<td style="width:15%">
				<%= image_tag("#{@configuration.base_url}w300#{cast['profile_path']}", width: "124" ) if cast['profile_path'] %>
				<% unless cast['profile_path'] %><img src="http://placehold.it/124x186&text=No+Photo"><% end %>
			</td>
			<td>
				<% if(cast['order'] != (@cast.length+4)) %>
					<h4 class="cast_information"><%= cast['name'] %> as <%= cast['character'] %></h4>
				<% else %>
					<h4 class="cast_information"><%= cast['name'] %> as <%= cast['character'] %></h4>
					<button type="button" id="hidecast_button" class="hidden" onclick="hidecast()">	
						<i class="fa fa-lg fa-caret-up"></i>
  					</button>
				<% end %>
			</td>
		</tr>
		<% end %>
	</table>
	
</div>
</body>
<script>
/* lazy load images */
    $("img.lazy").lazyload({
    	effect : "fadeIn"
	});
	
function fullcast()
{
	$("#cast_button").addClass("hidden");
	$("tr#cast_rest").removeClass("hidden");
	$("#hidecast_button").removeClass("hidden");
}

function hidecast()
{
	$("#hidecast_button").addClass("hidden");
	$("tr#cast_rest").addClass("hidden");
	$("#cast_button").removeClass("hidden");
}

</script>