<% provide(:title, @movie.original_title) %>
<%= @movie.original_title %>
<br>
<%= @movie.release_date %> 
<%= @movie.runtime %> minutes
<%= @imdb_rating %> 

<h1>Overview</h1>
<%= @movie.overview %>
