<% provide(:title, @movie.name) %>
<body background = <%= "#{@configuration.base_url}w1920#{@backdrop}" %>>
<div class="movie-info-all">
	<div class="container">
		<div class="row">
			<div class="movie-info-top">
				<%= image_tag("#{@configuration.base_url}w154#{@movie.poster_path}", width: "187") if @movie.poster_path %>
				<div class="ratings">
        			<% imdb_path = "http://www.imdb.com/title/tt" + @movie.imdb_id.to_s %>
          			<%= link_to imdb_path do %>
          				<%= image_tag("imdb.png", size: "71x34") %>
          			<% end %>
          			<h4 class="imdb-rating"><%= @imdb_rating %></h4>
          				<%= link_to @movie.rotten_link do %>
          					<% if @rotten_rating > 0 %>
          						<% img_src = get_rotten_image(@rotten_rating, @movie.certified_fresh) %>
          						<%= image_tag(img_src, size: "42x45") %>
          					<% end %>
          				<% end %>
          			<h4 class="rotten-rating"><%= get_rotten_text(@rotten_rating) %></h4>
        		</div>
			</div>
			<div class = "movie-info-top" id = "info-right">
				<h1><%= @movie.name %> (<%= @movie.year %>)</h1>
				<h5><%= @moviedb.runtime %> minutes | <%= @moviedb.release_date %></h5>
				<h3>Directed by: <%= @director %></h3>
				<h2>Overview</h2>
				<p><font size="3"><%= @moviedb.overview %></font></p>
			</div>
		</div>
	</div>
	<br>
	<div class="trailer">
		<h2>Trailer</h2>
 		<% @trailers['youtube'].each do |trailer| %>
 			<% if trailer['type'] == "Trailer" %>
    			<%= raw(youtube_embed("http://www.youtube.com/watch?v=#{trailer['source']}")) %><br />
    			<% break %>
    		<% end %>
    	<% end %>
	</div>
	<h2>Cast</h2>
			<table class="pure-table pure-table-horizontal table-striped">
				<% @cast.first(5).each do |cast| %>
				<tr>
					<td style="width:15%">
						<%= image_tag("#{@configuration.base_url}w300#{cast['profile_path']}", width: "124" ) if cast['profile_path'] %>
						<% unless cast['profile_path'] %><img src="http://placehold.it/154x154"><% end %>
					</td>
					<td>
						<h4 class="cast_information"><%= cast['name'] %> as <%= cast['character'] %></h4>
					</td>
				</tr>
				<% end %>
			</table>
</div>
</body>
<script>
/* lazy load images */
    $("img.lazy").lazyload({
    	effect : "fadeIn"
	});
</script>